<div class="mainbackground">
  <div class="mainimage d-flex justify-content-center align-items-center">

      <div class="text-center">
        <h1>MSK and Womens Health</h1>

      </div>

  </div>
<div class="container pt-4 mt-4 maincard pb-3">
  <div class="maincards pb-3">
    <div>
      <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div>
      <%= cl_image_tag "sharonedwardsProfilePic_odloe8", class: "profilepic", alt: "Sharon Edwards Profile Picture" %>
    </div>
    <div>
      <%= cl_image_tag "sports-massage-deep-tissue_ziu36h", class: "imagetext" %>
    </div>
    <div>
      <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div>
      <p>3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div>
      <%= cl_image_tag "Sports-Massage-Therapist_wewcew", class: "imagetext" %>
    </div>
    <div>
      <%= cl_image_tag "sports-massage-deep-tissue_ziu36h", class: "imagetext" %>
    </div>
    <div>
      <p>4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-center mt-4">
  <h2 id="section1">Areas</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="maincard">
          <h3>Area1</h3>
          <p>This is the location and time</p>
          <button class="btn btn-primary">call to action</button>
        </div>
          <br/>
        <div class="maincard">
          <h3>Area2</h3>
          <p>This is the location and time</p>
          <button class="btn btn-primary">call to action</button>
        </div>
          <br/>
        <div class="maincard">
          <h3>Area3</h3>
          <p>This is the location and time</p>
          <button class="btn btn-primary">call to action</button>
        </div>
          <br/>
      </div>
      <div class="col-6">
        <%= cl_image_tag("mapOfSutton_hzcwqc", class:"mapimage", alt: "map of london") %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  <h2 id="section2">Contact</h2>
  </div>
  <div class="container mt-2 pb-4">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 contactcard">
        <p>Please complete the form and we’ll give you a call so you can ask us any questions you might have.</p>
        <p>We look forward to hearing from you and about your business.</p>
        <p>T: 07484 782 713</p>
        <p>E: brisbanephysio@hotmail.co.uk</p>
      </div>
      <div class="contactform col-lg-6 col-md-6 col-sm-12 col-12">
        <%= form_with model: @contact, url: contacts_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', placeholder: "enter name" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', placeholder: "joebloggs@email.com" %>
          </div>
          <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control', placeholder: "0712-345-5678" %>
          </div>
          <div class="form-group pb-2">
            <%= f.label :message %>
            <%= f.text_area :message, class: 'form-control', placeholder: "enter a short message" %>
          </div>
          <%= f.submit 'Send', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were some errors with your submission:</h4>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
