<div class="mainbackground">
  <div class="mainimage maincontain">

      <div class="banner">
        <div class="banner-content">
            <h1 class="maintext"> Musculoskeletal & Sports/ Women's & Men's Health Physiotherapist & Expert Witness</h1>
            <a class="button-36" href="#section2">Contact me</a>
        </div>
      </div>


  </div>
  <div class="aboutcard pt-5 pb-3">
      <div class="maincards pb-3">
        <div>
          <h2 class="abouttext container">About Sharon</h2>
          <p class="abouttext container">Sharon started her physiotherapy journey some 30 years ago, training at Kings College, London, completing her Honours program in physiotherapy. After some years working in the NHS and private practice she embarked on two postgraduate Masters at the University of Queensland, in Australia, in Manipulative Physiotherapy and Sports Physiotherapy. Following this she stayed in Brisbane and developed and expanded several private practises with a multidisciplinary team of health professionals. One clinic also included driving a converted motorhome, with 3 treatment rooms, to rural locations, to deliver physiotherapy to a rural community. </p> <p class="abouttextbutton container" data-bs-toggle="modal" data-bs-target="#reg-modal1">Read more.....</p>

      </div>
      <div>
        <%= cl_image_tag "sharonedwardsProfilePic_odloe8", class: "profilepic", alt: "Sharon Edwards Profile Picture" %>
      </div>
    </div>

  </div>



  <div class="d-flex justify-content-center mt-4">
  <h2 id="section1">Areas</h2>
  </div>
  <div class="container">
    <div class="areacards">

        <div class="maincard">
          <%= cl_image_tag "entrance_parkshot_house_mpjo5v", class: "cardimage", alt: "Absolute Health & Physio" %>
          <h3>Absolute Health & Physio</h3>
          <p>Parkshot House</p>
          <p>5 Kew Road</p>
          <p>Richmond</p>
          <p>TW9 2PR</p>
          <p>T: <a class="tellink" href="tel:07484 782713">07484 782713</a></p>
        </div>

        <div class="maincard">
          <%= cl_image_tag "whitehartclinicimage_c30q9v", class: "cardimage", alt: "White Hart Clinic" %>
          <h3>White Hart Clinic</h3>
          <p>10 White Hart Lane</p>
          <p>Barnes</p>
          <p>London</p>
          <p>SW13 0PY</p>
          <p>T: <a class="tellink" href="tel:020 8876 9897">020 8876 9897</a></p>
        </div>

        <div class="maincard">
          <%= cl_image_tag "lambert2_obze77", class: "cardimage", alt: "Lambert Sports Clinic" %>
          <h3>Lambert Sports Clinic</h3>
          <p>380 Ewell Road</p>
          <p>Surbiton</p>
          <p>KT6 7BE</p>
          <p>T: <a class="tellink" href="tel:020 8133 5694">020 8133 5694</a></p>
        </div>

  </div>


</div>
  <div class="d-flex justify-content-center pt-4">
  <h2 id="section2">Contact</h2>
  </div>
  <div class="container mt-2 pb-4">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 contactcard">
        <p>Please complete the form and we can email you, or give you a call, so you can ask us any questions you might have.</p>
        <p>We look forward to hearing from you.</p>
        <p>T: <a class="tellink" href="tel:020 8133 5694">020 8133 5694</a></p>
        <p>E: <a class="tellink" href="mailto:brisbanephysio@hotmail.co.uk">brisbanephysio@hotmail.co.uk</a></p>
      </div>
      <div class="contactform col-lg-6 col-md-6 col-sm-12 col-12">
        <%= form_with model: @contact, url: contacts_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', placeholder: "enter name" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', placeholder: "joebloggs@email.com" %>
          </div>
          <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control', placeholder: "0712-345-5678" %>
          </div>
          <div class="form-group pb-2">
            <%= f.label :message %>
            <%= f.text_area :message, class: 'form-control', placeholder: "enter a short message" %>
          </div>
          <%= f.submit 'Send', class: "button-36" %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were some errors with your submission:</h4>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="modal fade" id="reg-modal1" tabindex="-1" aria-labelledby="modal-title"
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="modal-title"> A Multifaceted Career in Physiotherapy: From Elite Sports to Specialized Pelvic Health and Beyond</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p class="card-text">She was Director of Physio on Brunswick and Absolute Physio & Rehab in Australia, which are still going strong, and was Head Consultant Physiotherapist for Mayne Tigers and Souths Rugby Club and the team physiotherapist for the Australian Judo Team in preparation for the 2008 Olympics. She also contracted services for Occupational Health Assessments and ergonomic training for workplaces and conducted individual Clinical Pilates classes for rehabilitating individuals for return to work and sport, being trained as a Pilates Instructor with DMA Pilates Level 2, and providing support to a rural gym for Pilates class cover for some periods in Australia.</p>
        <p class="card-text"> Sharon has also trained in Women's & Pelvic Health Physiotherapy since 2005, Lymphoedema Specialist management since 2005 and Vestibular dysfunctions since 2010, to additionally support her varied physiotherapy role in rural communities in Australia at the time. Sharon returned to the UK in 2018 and has further trained as a pessary practitioner for women who have developed pelvic organ prolapses.</p>
        <p class="card-text">Sharon continues to see a mix of musculoskeletal conditions and sports injuries, as well as regularly helping men & women who experience pelvic pain, stress incontinence, bowel constipation/urgency/incontinence, prostate problems and pre and post natal pain or pelvic dysfunctions, tummy muscle separations, as well as cording and breast oncology physiotherapy.</p>
        <p class="card-text">Sharon has also provided many years of teaching to physiotherapists in the UK and Australia in sports physiotherapy, taping, lower limb biomechanics, gait assessment and foot orthoses prescriptions, private practise management and provides consultancy to other health businesses around the world. She has a written a Chapter in a book called ‘Exploding the Middle Age Myth’ in 2010 and has published a teaching DVD on Lower Limb Biomechanics. She has also published a research paper in the Disability & Rehabilitation Journal 2003, on Neuromuscular efficiency of the sternocleidomastoid and anterior scalene muscles in patients with Chronic Neck Pain with Deborah Falla, K. Koh, Gwen Jull and A. Rainoldi.</p>
        <p class="card-text">Sharon also offers expert witness and report writing for musculoskeletal and pelvic health physiotherapy, having trained with Bond Solon and is a member of the MLACP (Medicolegal Association of Chartered Physiotherapists) and is currently waiting for finalisation of her Certificate of Expert Report Writing, with Cardiff University, as a National Expert Witness.</p>
        <p class="card-text">In her spare time Sharon enjoys motor boating, cycling and walks with her dogs and son.</p>
      </div>
    </div>
  </div>
</div>
