<!DOCTYPE html>
<html>
  <head>
    <title>Sharon Edwards - Expert Physiotherapist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msvalidate.01" content="2E819857229A9221D88F54857902DCBC" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('smallphysiologo.jpg') %>
  </head>

  <body>
    <%= render partial: "layouts/partials/nav" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/cookie_banner" unless session[:cookies_accepted] %>
    <%= render partial: "layouts/partials/footer" %>
  </body>
</html>
