<!DOCTYPE html>
<html>
  <head>
    <title>Pelvic Health, Musculoskeletal & Sports Physiotherapy in Richmond & Surbiton Sharon Edwards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msvalidate.01" content="2E819857229A9221D88F54857902DCBC" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('smallphysiologo.jpg') %>
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Physiotherapy",
    "name": "Sharon Edwards Physiotherapy",
    "image": "https://res.cloudinary.com/daaxwngzv/image/upload/sharonedwardsProfilePic_odloe8.jpg",
    "@id": "",
    "url": "https://www.absolutehealthandphysio.co.uk/",
    "telephone": "+44 7484 782713",
    "priceRange": "££",
    "description": "Musculoskeletal & Sports / Women's & Men's Health Physiotherapy and Expert Witness services based in Richmond and Surbiton, London.",
    "founder": {
      "@type": "Person",
      "name": "Sharon Edwards"
    },
    "email": "mailto:brisbanephysio@hotmail.co.uk",
    "sameAs": [
      "https://www.lambertsportsclinic.co.uk"
    ],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "5 Kew Road, Parkshot House",
      "addressLocality": "Richmond",
      "postalCode": "TW9 2PR",
      "addressCountry": "GB"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 51.4613,
      "longitude": -0.3010
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "09:00",
        "closes": "17:00"
      }
    ],
    "department": [
      {
        "@type": "MedicalBusiness",
        "name": "Lambert Sports Clinic",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "380 Ewell Road",
          "addressLocality": "Surbiton",
          "postalCode": "KT6 7BE",
          "addressCountry": "GB"
        },
        "telephone": "+44 7484 782713",
        "url": "https://www.lambertsportsclinic.co.uk",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Tuesday",
              "Thursday"
            ],
            "opens": "09:00",
            "closes": "17:00"
          }
        ]
      }
    ]
  }
</script>

  </head>

  <body>

    <%= render partial: "layouts/partials/nav" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/cookie_banner" unless session[:cookies_accepted] %>
    <%= render partial: "layouts/partials/footer" %>
  </body>
</html>
